body,
html {
    background-color: #001220 !important;
}

.strike {
    text-decoration: line-through;
}

li {
    user-select: none;
}

.flex1 {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
    margin-top: 3rem;
}

.btn1 {
    margin-left: 1.2rem;
    margin-bottom: 2rem;
    background-color: #001220;
    padding: 0;
    height: 25px;
    width: 25px;
    border: none;

}

h1 {
    text-align: center;
    margin-top: 2rem !important;
    font-size: 4rem !important;
    color: white !important;
}

li {
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    user-select: none;

}

input {
    height: 3rem;
    width: 20rem;
    border: none;
    border-radius: 5%;
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    color: white !important;
    background-color: #001220 !important;
    outline: none;
}

button {
    width: 10rem;
    height: 3rem;
    margin-left: 3rem !important;
}

ul {
    list-style-type: none;
}